<a href="https://colab.research.google.com/github/mateuszklimczyk97/data-science-bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import bibliotek

In [1]:
import pandas as pd

## Wczytanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [4]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2022-03-17 to 2017-03-20
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1259 non-null   float64
 1   High    1259 non-null   float64
 2   Low     1259 non-null   float64
 3   Close   1259 non-null   float64
 4   Volume  1259 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

In [5]:
apple.head()

              Open    High     Low   Close     Volume
Date
2022-03-17  158.61  161.00  157.63  160.62   75521492
2022-03-16  157.05  160.00  154.46  159.59  102300157
2022-03-15  150.90  155.57  150.38  155.09   92964302
2022-03-14  151.45  154.12  150.10  150.62  108732111
2022-03-11  158.93  159.28  154.50  154.73   96970102

## Preprocessing

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns] 
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns] 
google.columns = ['google_' + col.lower() for col in google.columns] 
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [8]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-03-17      32.34     32.920     31.57       32.85     27255084
2022-03-16      30.53     32.635     30.27       32.61     34688771
2022-03-15      29.52     30.410     29.06       29.80     33060463
2022-03-14      30.51     30.550     28.80       29.27     41897395
2022-03-11      31.30     31.390     30.42       30.76     29454687

## Konkatenacja danych

In [11]:
df = pd.concat(objs=[apple, amazon, google, uber], axis = 1)
df

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-03-20,33.185,33.441,33.143,33.434,91148242,851.51,857.800,851.0100,856.97,2282727,869.48,870.340,864.665,867.91,1542199,NaN,NaN,NaN,NaN,NaN
2017-03-21,33.591,33.748,33.027,33.051,167258167,858.84,862.795,841.3100,843.20,4382852,870.06,873.470,847.687,850.14,2537978,NaN,NaN,NaN,NaN,NaN
2017-03-22,33.051,33.464,33.034,33.424,109419010,840.43,849.370,839.0500,848.06,2658669,849.48,855.350,847.000,849.80,1366749,NaN,NaN,NaN,NaN,NaN
2017-03-23,33.386,33.458,33.234,33.304,86088867,848.20,850.890,844.8000,847.38,1952964,841.39,841.690,833.000,839.65,3287669,NaN,NaN,NaN,NaN,NaN
2017-03-24,33.441,33.498,33.172,33.241,90635834,851.68,851.800,843.5300,845.61,2086261,842.00,844.000,829.100,835.15,1976958,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03-11,158.930,159.280,154.500,154.730,96970102,2991.49,2993.500,2907.3800,2910.49,3445028,2669.77,2675.910,2592.630,2597.41,1576322,31.30,31.390,30.42,30.76,29454687.0
2022-03-14,151.450,154.120,150.100,150.620,108732111,2919.62,2949.000,2817.6800,2837.06,3704305,2605.00,2608.180,2505.500,2519.02,1940563,30.51,30.550,28.80,29.27,41897395.0
2022-03-15,150.900,155.570,150.380,155.090,92964302,2857.00,2959.700,2840.0000,2947.33,3779230,2539.52,2597.090,2514.410,2583.96,1545976,29.52,30.410,29.06,29.80,33060463.0
2022-03-16,157.050,160.000,154.460,159.590,102300157,2970.00,3063.000,2947.0700,3062.08,4247884,2614.66,2666.660,2574.690,2665.61,1778849,30.53,32.635,30.27,32.61,34688771.0
2022-03-17,158.610,161.000,157.630,160.620,75521492,3052.81,3149.970,3048.0462,3144.78,3639585,2662.98,2681.608,2643.700,2676.78,1410728,32.34,32.920,31.57,32.85,27255084.0

In [12]:
df.describe()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
count,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03,1259.000000,1259.000000,1259.000000,1259.00000,1.259000e+03,720.000000,720.000000,720.000000,720.000000,7.200000e+02
mean,79.143514,80.028615,78.286642,79.195767,1.230664e+08,2179.438304,2202.879662,2153.078528,2178.263304,4.299431e+06,1520.534965,1535.613949,1505.124062,1520.86118,1.759719e+06,40.215678,41.011624,39.309559,40.154597,2.468423e+07
std,44.163721,44.704572,43.604484,44.173712,5.679005e+07,859.832069,870.351341,848.199934,858.553464,2.060969e+06,619.135788,624.624641,612.286533,618.37144,8.148766e+05,9.210717,9.270808,9.088492,9.155553,1.695314e+07
min,32.943000,33.376000,32.759000,33.051000,4.099995e+07,838.070000,849.370000,833.500000,843.200000,8.813370e+05,828.090000,841.380000,824.300000,835.15000,4.656380e+05,15.960000,17.800000,13.710000,14.820000,3.380003e+06
25%,42.124000,42.497500,41.817000,42.242000,8.565424e+07,1596.000000,1608.765000,1580.310000,1592.900000,2.908610e+06,1086.275000,1098.485000,1072.285000,1085.23000,1.251980e+06,32.840000,33.435000,32.025750,32.797500,1.420742e+07
50%,54.710000,55.208000,54.063000,54.790000,1.080207e+08,1875.000000,1894.270000,1858.000000,1874.970000,3.708851e+06,1228.000000,1241.050000,1216.580000,1229.84000,1.545534e+06,39.155000,40.039950,38.085000,39.095000,2.065154e+07
75%,121.910000,123.360000,120.065000,121.620000,1.438236e+08,3149.945000,3186.119000,3109.460000,3145.510000,5.090420e+06,1762.300000,1776.060000,1741.350000,1760.40500,2.002741e+06,46.725000,47.540000,45.915000,46.510000,2.989041e+07
max,182.630000,182.940000,179.120000,182.010000,4.322002e+08,3744.000000,3773.078200,3696.792900,3731.410000,1.655260e+07,3025.000000,3030.931500,2977.980000,2996.77000,6.658855e+06,63.250000,64.050000,60.800000,63.180000,1.863225e+08

In [15]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}') #formatowanie danych zmiennoprzecinkowych (w tym przypadku ustawienie na 2 liczby po przecinku)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1259.00,79.14,44.16,32.94,42.12,54.71,121.91,182.63
apple_high,1259.00,80.03,44.70,33.38,42.50,55.21,123.36,182.94
apple_low,1259.00,78.29,43.60,32.76,41.82,54.06,120.06,179.12
apple_close,1259.00,79.20,44.17,33.05,42.24,54.79,121.62,182.01
apple_volume,1259.00,123066376.61,56790046.78,40999950.00,85654244.50,108020744.00,143823624.00,432200157.00
amazon_open,1259.00,2179.44,859.83,838.07,1596.00,1875.00,3149.94,3744.00
amazon_high,1259.00,2202.88,870.35,849.37,1608.76,1894.27,3186.12,3773.08
amazon_low,1259.00,2153.08,848.20,833.50,1580.31,1858.00,3109.46,3696.79
amazon_close,1259.00,2178.26,858.55,843.20,1592.90,1874.97,3145.51,3731.41
amazon_volume,1259.00,4299431.07,2060969.32,881337.00,2908609.50,3708851.00,5090419.50,16552598.00
google_open,1259.00,1520.53,619.14,828.09,1086.28,1228.00,1762.30,3025.00
google_high,1259.00,1535.61,624.62,841.38,1098.49,1241.05,1776.06,3030.93
google_low,1259.00,1505.12,612.29,824.30,1072.28,1216.58,1741.35,2977.98
google_close,1259.00,1520.86,618.37,835.15,1085.23,1229.84,1760.40,2996.77
google_volume,1259.00,1759718.54,814876.62,465638.00,1251980.50,1545534.00,2002741.00,6658855.00
uber_open,720.00,40.22,9.21,15.96,32.84,39.16,46.73,63.25
uber_high,720.00,41.01,9.27,17.80,33.44,40.04,47.54,64.05
uber_low,720.00,39.31,9.09,13.71,32.03,38.09,45.91,60.80
uber_close,720.00,40.15,9.16,14.82,32.80,39.09,46.51,63.18
uber_volume,720.00,24684227.44,16953141.51,3380003.00,14207421.50,20651541.00,29890407.75,186322536.00

In [16]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.21,0.94,0.94,0.93,0.93,-0.18,0.95,0.95,0.95,0.95,-0.09,0.45,0.45,0.44,0.45,0.08
apple_high,1.00,1.00,1.00,1.00,-0.20,0.94,0.94,0.93,0.93,-0.17,0.95,0.95,0.95,0.95,-0.09,0.44,0.45,0.44,0.44,0.08
apple_low,1.00,1.00,1.00,1.00,-0.21,0.93,0.93,0.93,0.93,-0.18,0.95,0.95,0.95,0.95,-0.09,0.45,0.46,0.45,0.45,0.07
apple_close,1.00,1.00,1.00,1.00,-0.21,0.93,0.94,0.93,0.93,-0.18,0.95,0.95,0.95,0.95,-0.09,0.44,0.45,0.44,0.45,0.08
apple_volume,-0.21,-0.20,-0.21,-0.21,1.00,-0.15,-0.14,-0.16,-0.15,0.57,-0.29,-0.28,-0.29,-0.29,0.50,-0.42,-0.41,-0.44,-0.42,0.28
amazon_open,0.94,0.94,0.93,0.93,-0.15,1.00,1.00,1.00,1.00,-0.11,0.87,0.87,0.86,0.87,-0.08,0.55,0.55,0.55,0.55,-0.03
amazon_high,0.94,0.94,0.93,0.94,-0.14,1.00,1.00,1.00,1.00,-0.10,0.86,0.87,0.86,0.86,-0.07,0.54,0.55,0.55,0.55,-0.03
amazon_low,0.93,0.93,0.93,0.93,-0.16,1.00,1.00,1.00,1.00,-0.12,0.87,0.87,0.87,0.87,-0.09,0.56,0.56,0.56,0.56,-0.04
amazon_close,0.93,0.93,0.93,0.93,-0.15,1.00,1.00,1.00,1.00,-0.11,0.86,0.87,0.86,0.87,-0.08,0.55,0.55,0.55,0.55,-0.04
amazon_volume,-0.18,-0.17,-0.18,-0.18,0.57,-0.11,-0.10,-0.12,-0.11,1.00,-0.21,-0.20,-0.22,-0.21,0.60,-0.26,-0.25,-0.28,-0.27,0.24
google_open,0.95,0.95,0.95,0.95,-0.29,0.87,0.86,0.87,0.86,-0.21,1.00,1.00,1.00,1.00,-0.12,0.44,0.45,0.44,0.44,0.07
google_high,0.95,0.95,0.95,0.95,-0.28,0.87,0.87,0.87,0.87,-0.20,1.00,1.00,1.00,1.00,-0.11,0.44,0.44,0.44,0.44,0.08
google_low,0.95,0.95,0.95,0.95,-0.29,0.86,0.86,0.87,0.86,-0.22,1.00,1.00,1.00,1.00,-0.13,0.45,0.45,0.45,0.45,0.07
google_close,0.95,0.95,0.95,0.95,-0.29,0.87,0.86,0.87,0.87,-0.21,1.00,1.00,1.00,1.00,-0.12,0.44,0.45,0.44,0.44,0.07
google_volume,-0.09,-0.09,-0.09,-0.09,0.50,-0.08,-0.07,-0.09,-0.08,0.60,-0.12,-0.11,-0.13,-0.12,1.00,-0.21,-0.20,-0.23,-0.21,0.28
uber_open,0.45,0.44,0.45,0.44,-0.42,0.55,0.54,0.56,0.55,-0.26,0.44,0.44,0.45,0.44,-0.21,1.00,1.00,1.00,0.99,-0.23
uber_high,0.45,0.45,0.46,0.45,-0.41,0.55,0.55,0.56,0.55,-0.25,0.45,0.44,0.45,0.45,-0.20,1.00,1.00,1.00,1.00,-0.20
uber_low,0.44,0.44,0.45,0.44,-0.44,0.55,0.55,0.56,0.55,-0.28,0.44,0.44,0.45,0.44,-0.23,1.00,1.00,1.00,1.00,-0.25
uber_close,0.45,0.44,0.45,0.45,-0.42,0.55,0.55,0.56,0.55,-0.27,0.44,0.44,0.45,0.44,-0.21,0.99,1.00,1.00,1.00,-0.22
uber_volume,0.08,0.08,0.07,0.08,0.28,-0.03,-0.03,-0.04,-0.04,0.24,0.07,0.08,0.07,0.07,0.28,-0.23,-0.20,-0.25,-0.22,1.00

In [18]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [24]:
closes = [col for col in df.columns if col.endswith('close') | col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [25]:
df[closes].corr() #korelacja cen zamkniecia + volume

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.21,0.93,-0.18,0.95,-0.09,0.45,0.08
apple_volume,-0.21,1.00,-0.15,0.57,-0.29,0.50,-0.42,0.28
amazon_close,0.93,-0.15,1.00,-0.11,0.87,-0.08,0.55,-0.04
amazon_volume,-0.18,0.57,-0.11,1.00,-0.21,0.60,-0.27,0.24
google_close,0.95,-0.29,0.87,-0.21,1.00,-0.12,0.44,0.07
google_volume,-0.09,0.50,-0.08,0.60,-0.12,1.00,-0.21,0.28
uber_close,0.45,-0.42,0.55,-0.27,0.44,-0.21,1.00,-0.22
uber_volume,0.08,0.28,-0.04,0.24,0.07,0.28,-0.22,1.00

## Metoda append()

In [26]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-03-17      32.34      32.92     31.57       32.85     27255084
2022-03-16      30.53      32.63     30.27       32.61     34688771
2022-03-15      29.52      30.41     29.06       29.80     33060463
2022-03-14      30.51      30.55     28.80       29.27     41897395
2022-03-11      31.30      31.39     30.42       30.76     29454687

In [28]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[64 rows x 5 columns]

In [29]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-07-30      44.38      44.73     43.34       43.46     22194938
2021-07-29      44.12      45.21     44.00       44.69     51033697
2021-07-28      45.88      46.96     45.81       46.14     19510262
2021-07-27      46.54      46.66     44.77       45.82     16874229
2021-07-26      47.04      47.60     46.37       46.81     12497997
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[65 rows x 5 columns]

In [32]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2021-06-30      51.02      51.13     49.71       50.12     18069434
2021-06-29      51.00      51.30     50.24       50.76     14104177
2021-06-28      51.75      52.36     50.37       51.11     22518031
2021-06-25      51.18      51.83     50.53       51.73     25727827
2021-06-24      51.30      51.55     50.22       50.82     12403301
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[129 rows x 5 columns]